<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Cf_DisableModules>
            <version>0.1.0</version>
        </Cf_DisableModules>
    </modules>

    <global>
        <blocks>
            <disablemodules>
                <class>Cf_DisableModules_Block</class>
            </disablemodules>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset_modules_disableOutput>Cf_DisableModules_Block_Adminhtml_System_Config_Form_Fieldset_Modules_DisableOutput</system_config_form_fieldset_modules_disableOutput>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <disablemodules>
                <class>Cf_DisableModules_Helper</class>
            </disablemodules>
        </helpers>
        <models>
            <disablemodules>
                <class>Cf_DisableModules_Model</class>
            </disablemodules>
        </models>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cf_DisableModules before="Mage_Adminhtml">Cf_DisableModules</Cf_DisableModules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
